argoverse @ git+https://github.com/argoai/argoverse-api.git@master
imageio==2.9.0
waymo_open_dataset_tf_2_1_0==1.2.0
pandas==1.3.3
opencv_python==4.5.3.56
numpy==1.21.2
scipy==1.7.1
pyntcloud==0.1.2
# tensorflow==2.5.1
# tensorflow_gpu==2.5.1
